<div class="row">
  <div class="span12">
    <div class="alert alert-error">
      <p>
        <strong>Page Not Found</strong>
      </p>
      <p>
        <%= link_to('Top', root_path) %>
      </p>
    </div>
  </div>
</div>
